#bodyID .effectsIndex TD {
	BACKGROUND-COLOR: #cccccc
}
TABLE TH {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-WEIGHT: bold; BORDER-LEFT: 0px; COLOR: #000066; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #cccccc; TEXT-ALIGN: left
}
TABLE TD {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #cccccc; TEXT-ALIGN: left
}
.EffectTrigger {
	FONT-SIZE: 12px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A {
	FONT-WEIGHT: bold; CURSOR: pointer; COLOR: #000066
}
A:hover {
	LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #ffcc00; TEXT-DECORATION: none
}
.codeSample {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN-LEFT: 10px; OVERFLOW: auto; BORDER-LEFT: #000000 1px solid; MARGIN-RIGHT: 10px; PADDING-TOP: 4px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #999999
}
.hilite {
	BACKGROUND-COLOR: #ffcc00
}
H4 {
	
}
.demoDiv {
	WIDTH: 400px; BACKGROUND-COLOR: #999999
}
.sampleText {
	PADDING-LEFT: 15px
}
.caption {
	MARGIN-TOP: 4px; FONT-WEIGHT: bold; FONT-SIZE: 80%; MARGIN-LEFT: 10px
}
