<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="csrfSettings" type="Idunno.AntiCsrf.Configuration.CsrfSettings, Idunno.AntiCsrf"/>
  </configSections>
  <csrfSettings detectionResult="Redirect" errorPage="~/Error.htm"/>
  <connectionStrings>
    
    <!-- DEV -->
    <add name="ConnectionStringReembolsos" connectionString="Data Source=USDFW16DB17V\USDFW16DB17VSI8,5447;Initial Catalog=HC_DEV;Persist Security Info=True;User ID=us_ehb_apps;Password=W3lc0m3@123"/>
    <add name="ConnectionStringSicau" connectionString="Data Source=USDFW16DB17V\USDFW16DB17VSI8,5447;Initial Catalog=HC_DEV;Persist Security Info=True;User ID=us_ehb_apps;Password=W3lc0m3@123"/>


  </connectionStrings>
  <appSettings>
    <add key="Pais" value="1"/>
    <!--1 = México-->
    <add key="mail.ServerMail" value="packet size=4096;user=webUser;password=webUserConnection;data source=bogwdwebsql01;persist security info=False;initial catalog=BasicProject"/>
    <add key="FormatoFecha" value="dd/MM/yyyy"/>
    <add key="FormatoHora" value="hh:mm tt"/>
    <add key="FormatoFechaGrilla" value="{0:dd/MM/yyyy}"/>
    <add key="NumeroDecimales" value="2"/>
    <add key="SeparadorMiles" value=","/>
    <add key="SeparadorDecimales" value="."/>
    <add key="Timeout" value="300"/>
    <!--Inicio DMA 2014/09/24-->
    <add key="MostrarDisclaimer" value="0"/>
    <add key="ServidorSmtp" value="nasa1smtp.mmc.com"/>
    <add key="isProtocolSecure" value="false"/>
    <!--FIN DMA 2014/09/24-->
    <!--Inicio - Emilio Bueno 12/Dic/2012-->
    <add key="TiempoMostrarAlerta" value="3"/>
    <add key="TiempoGuardarTemporal" value="2"/>
    <!--Fin - Emilio Bueno 12/Dic/2012-->
    <!--I. MFA keys -->
    <add key="RSA_AA_URI" value="https://model.tspv3.app.services.marsh.com/MFAServices/AA"/>
    <add key="RSA_AA_ORGNAME" value="Marsh_Model"/>
    <add key="RSA_AA_GROUPS" value="Clients,OTHER"/>
    <add key="RSA_AA_SECURITYKEY" value="MarshUSERHMACModl2k18"/>
    <add key="RSA_MAIL_FROM" value="sistemas.beneficios@marsh.com"/>
    <add key="RSA_SUPPORT_MAIL" value="gustavo.martinez@marsh.com"/>
    <add key="RSA_AA_COOKIEDAYS" value="400"/>
    <add key="RSA_AA_TEST_COOKIE_MINUTES" value="0"/>
    <!--F. MFA keys -->
  </appSettings>
  <!--GAMM 2017/09/12-->
  <!--GAMM 2017/09/12-->
  <location path="errorPage.aspx" allowOverride="false">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--DMA 2014/09/30-->
  <location path="scripts/jquery-1.4.1.js" allowOverride="false">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--DMA 2014/09/30-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
       
    <httpCookies httpOnlyCookies="true" requireSSL="false" lockItem="true"/>
    <!--Identidad-->
    <identity impersonate="false"/>
    <!-- SE ENCARGA DE ENCRIPTAR EL id DEL SESSION STATE Y EL TICKET-->
    <machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" validation="SHA1" decryption="Auto"/>
    <pages viewStateEncryptionMode="Always" enableEventValidation="false" validateRequest="false" enableViewStateMac="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpModules>
      <!--<add name="AntiCSRF" type="Idunno.AntiCsrf.AntiCsrfModule, Idunno.AntiCsrf"/>-->
    </httpModules>
    <!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este 
            proceso afecta al rendimiento, debe establecer este valor como true 
            durante la depuración.
        -->
    <compilation debug="false" targetFramework="4.5"/>
    <!--  MENSAJES DE ERROR PERSONALIZADOS -->
    <!--    <customErrors defaultRedirect="ErrorPage.aspx" mode="RemoteOnly"/>-->
    <customErrors defaultRedirect="ErrorPage.aspx" mode="On"/>
    <!-- !!!!!!!!!!!!!!!!!!!!requireSSL debe ser true en producción!!!!!!!!!!!!!!!-->
    <authentication mode="Forms">
      <forms name="{3247940D-ECFE-43a1-842A-9A1CD319568E}" defaultUrl="Default.aspx" loginUrl="AE_login_admin.aspx" protection="All" requireSSL="false" timeout="15" path="/" slidingExpiration="true"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <!--  CONFIGURACIÓN DE ESTADO DE SESIÓN    -->
    <sessionState mode="InProc" cookieName="{24618D5F-65A9-43cf-A40B-CB15DC3328DA}" cookieless="UseCookies" timeout="15"/>
    <!-- REGISTRO DE SEGUIMIENTO EN EL NIVEL DE APLICACIÓN -->
    <trace enabled="false" localOnly="true"/>
    <globalization requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" fileEncoding="iso-8859-1"/>
    
    <!--GAMM desactiva validacion de inputs ADD requestValidationMode-->
    <httpRuntime executionTimeout="900" maxRequestLength="8192" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="5000" requestValidationMode="2.0"/>
    <xhtmlConformance mode="Transitional"/>
  </system.web>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>