<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="csrfSettings"  type="Idunno.AntiCsrf.Configuration.CsrfSettings, Idunno.AntiCsrf" />
  </configSections>
  <csrfSettings detectionResult="Redirect" errorPage="~/Error.htm" />
  <connectionStrings>
    <!--<add name="ConnectionStringReembolsos" connectionString="Data Source=10.194.5.8\sqlserver2005;Initial Catalog=hc_mx_qa;Persist Security Info=True;User ID=us_sicam;Password=pus_sicam" />
    <add name="ConnectionStringSicau" connectionString="Data Source=10.194.5.8\sqlserver2005;Initial Catalog=hc_mx_qa;Persist Security Info=True;User ID=us_sicam;Password=pus_sicam" />-->

    <add name="ConnectionStringReembolsos" connectionString="Data Source=USDFW12DB29CI4, 5439;Initial Catalog=HC_UATCIF;Persist Security Info=True;User ID=svc_hb_Hc_Uat;Password=us_svc_Hc_Uat01"/>
    <add name="ConnectionStringSicau" connectionString="Data Source=USDFW12DB29CI4, 5439;Initial Catalog=HC_UATCIF;Persist Security Info=True;User ID=svc_hb_Hc_Uat;Password=us_svc_Hc_Uat01"/>

  </connectionStrings>
  <appSettings>
    <add key="Pais" value="1"/>
    <!--1 = México-->
    <add key="mail.ServerMail" value="packet size=4096;user=webUser;password=webUserConnection;data source=bogwdwebsql01;persist security info=False;initial catalog=BasicProject"/>
    <add key="FormatoFecha" value="dd/MM/yyyy"/>
    <add key="FormatoHora" value="hh:mm tt"/>
    <add key="FormatoFechaGrilla" value="{0:dd/MM/yyyy}"/>
    <add key="NumeroDecimales" value="2"/>
    <add key="SeparadorMiles" value=","/>
    <add key="SeparadorDecimales" value="."/>
    <add key="Timeout" value="300"/>
    <!--Inicio DMA 2014/09/24-->
    <add key="MostrarDisclaimer" value="0"/>
    <add key="ServidorSmtp" value="nasa1smtp.mmc.com"/>
    <add key="isProtocolSecure" value="false" />
    <!--FIN DMA 2014/09/24-->
    <!--Inicio - Emilio Bueno 12/Dic/2012-->
    <add key="TiempoMostrarAlerta" value="3"/>
    <add key="TiempoGuardarTemporal" value="2"/>
    <!--Fin - Emilio Bueno 12/Dic/2012-->

  </appSettings>
  <location path="errorPage.aspx" allowOverride="false">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--DMA 2014/09/30-->
  <location path="scripts/jquery-1.4.1.js" allowOverride="false">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--DMA 2014/09/30-->
  <system.web>
    <httpCookies httpOnlyCookies="true" requireSSL="false" lockItem="true"></httpCookies>
    <!--Identidad-->
    <identity impersonate="false"/>
    <!-- SE ENCARGA DE ENCRIPTAR EL id DEL SESSION STATE Y EL TICKET-->
    <machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" validation="SHA1" decryption="Auto"/>
    <pages viewStateEncryptionMode="Always" enableEventValidation="false" validateRequest="false" enableViewStateMac="true">

      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory,System.Web.Extensions, Version=1.0.61025.0, Culture=neutral,PublicKeyToken=31bf3856ad364e35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory,System.Web.Extensions, Version=1.0.61025.0, Culture=neutral,PublicKeyToken=31bf3856ad364e35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler,System.Web.Extensions, Version=1.0.61025.0, Culture=neutral,PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>

    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="AntiCSRF" type="Idunno.AntiCsrf.AntiCsrfModule, Idunno.AntiCsrf"/>
    </httpModules>

    <!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este 
            proceso afecta al rendimiento, debe establecer este valor como true 
            durante la depuración.
        -->
    <compilation debug="true">

      <assemblies>
        <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>

    <!--  MENSAJES DE ERROR PERSONALIZADOS -->
    <customErrors defaultRedirect="ErrorPage.aspx" mode="RemoteOnly"/>
    <!-- !!!!!!!!!!!!!!!!!!!!requireSSL debe ser true en producción!!!!!!!!!!!!!!!-->
    <authentication mode="Forms">
      <forms name="{3247940D-ECFE-43a1-842A-9A1CD319568E}" defaultUrl="Default.aspx" loginUrl="AE_login_admin.aspx" protection="All" requireSSL="false" timeout="15" path="/" slidingExpiration="true">
      </forms>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <!--  CONFIGURACIÓN DE ESTADO DE SESIÓN		-->
    <sessionState mode="InProc" cookieName="{24618D5F-65A9-43cf-A40B-CB15DC3328DA}" cookieless="UseCookies" timeout="15"/>
    <!-- REGISTRO DE SEGUIMIENTO EN EL NIVEL DE APLICACIÓN -->
    <trace enabled="false" localOnly="true"/>
    <globalization requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" fileEncoding="iso-8859-1"/>
    <httpRuntime executionTimeout="900" maxRequestLength="8192" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="5000"/>
    <xhtmlConformance mode="Transitional"/>
  </system.web>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
